<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.EnrollmentMapper">

    <delete id="deleteEnrollmentByCourseId">
        delete from enrollment where course_id = #{id}
    </delete>
    <select id="searchStudentIdByCourseId" resultType="java.lang.Long">
        select `student_id` from enrollment where course_id = #{id}
    </select>
    <insert id="insertEnrollment" parameterType="Enrollment">
        insert into `enrollment` (`student_id`,`course_id`) values (#{student_id},#{course_id})
    </insert>
    <delete id="deleteEnrollment">
        delete from enrollment where course_id = #{course_id} and student_id = #{student_id}
    </delete>
    <select id="searchCourseIdByStudentId" resultType="java.lang.Long">
        select `course_id` from enrollment where student_id = #{id}
    </select>


</mapper>